:root{
    --black-1e252b:#1e252b;
    --back262d34:#262d34;
    --black2c353d:#2c353d;
    --pinkf9dfc0:#f9dfc0;
    --orangeff6934:#ff6934;
    --whiteffffff:#ffffff;
    --red60: #C90054;
    --rgb1:rgb(218 51 3);
}
*{
    font-family: Source Sans Pro, 'Source Sans Pro';
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--black-1e252b);
     overflow: hidden;
}

.corps{

  position: relative;
  height: 100vh;
  display: flex;
  margin: 10px 40px;
    
}
.corps .menu-gauche{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 90%;
    background-color: #2c353d;
    border-radius: 10px;
    box-sizing: border-box;
    
}

.corps .milieu{
    width: 100%;
    margin: 0px 30px;
    border-radius: 10px;
    box-sizing: border-box;
    
}

.corps .menu-droite{
    width: 30%;
    height: 90%;
    background-color: #2c353d;
    border-radius: 10px;
    box-sizing: border-box;
}

.corps .menu-gauche div{
    display: flex;
    justify-content: center;
   /* width: 30%; */
   padding: 10px 15px;
   color: var(--whiteffffff);
   background-color: var(--black-1e252b);
   font-size: 22px;
   text-align: center;
   margin-bottom: 20px;
   text-transform: capitalize;
   border-radius: 10px;
   cursor: pointer;
}
.corps .menu-gauche div:first-of-type{
    display: flex;
    align-items: center;
    background: transparent;
    margin-top: 30px;
    font-size: 28px;
    cursor:default;
}
.corps .milieu .create-post-menue{
    z-index: 10;
    display: flex;
    align-items: center;
    height: 80px;
    border-radius: 10px;
    background-color: var(--black2c353d);
}

.corps .milieu .create-post-menue{
   display: flex;
   justify-content: space-between;
   padding: 0px 20px;
}
.corps .milieu .create-post-menue span{
    display: flex;
    align-items: center;
}
.corps .milieu .create-post-menue span span{
    margin-left: 10px;
    font-size: 20px;
    color: var(--whiteffffff);
}
.corps .milieu .create-post-menue button{
    padding: 15px 20px;
    font-size: 20px;
    color: var(--whiteffffff);
    background: var(--orangeff6934);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* post */
 .corps .milieu .content-post-block{
  overflow-y: auto;
  height: 100vh; 
}


.corps .milieu .content-post-block::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
  .corps .milieu .content-post-block::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  .corps .milieu  .content-post-block::-webkit-scrollbar-thumb {
    background: var(--back262d34);
    border: 0px none var(--black-1e252b);
    border-radius: 50px;
  }
  .corps .milieu  .content-post-block::-webkit-scrollbar-thumb:hover {
    background:var(--black-1e252b);
  }
  .corps .milieu  .content-post-block::-webkit-scrollbar-thumb:active {
    background: var(--black-1e252b);
  }
  .corps .milieu  .content-post-block::-webkit-scrollbar-track {
    background: var(--black-1e252b);
    border: 0px none var(--black-1e252b);
  }
  .corps .milieu  .content-post-block::-webkit-scrollbar-track:hover {
    background: var(--black-1e252b);
  }
  .corps .milieu  .content-post-block::-webkit-scrollbar-track:active {
    background: var(--black-1e252b);
  }
  .corps .milieu .content-post-block::-webkit-scrollbar-corner {
    background: var(--black-1e252b);
  }
.milieu .one-post-block{
    display: flex;
    align-items: flex-start;
    width: 100%;
    /* height: 400px; */
    box-sizing: border-box;
    background-color:var(--black2c353d) ;
    margin-top: 25px;
    border-radius: 10px;
    z-index: -1;
}

.milieu .one-post-block:last-of-type{
    margin-bottom: 200px;
}
.milieu .one-post-block .image-post{
    width: 350px;
    height: 250px;
    object-fit: cover;
    margin: 25px;
    box-sizing: border-box;
  position: static;
    display: flex;
    flex-wrap: wrap;
}
.milieu .one-post-block .image-post img{
    border-radius: 20px;
    width: 100%;
}

.milieu .one-post-block .post-content{
   /* border: 1px solid wheat; */
   width: 100%;
   height: 80%;
   margin-top: 25px;
   margin-right: 20px;
   color: var(--whiteffffff);
   border-radius: 20px;
}
.milieu .one-post-block .post-content .post-text {
  margin-top: 20px;
  font-size: 18px;
    transition: max-height 0.7s;
}
.myBtn{
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--orangeff6934);
  color: var(--whiteffffff);
  border: none;
}
.card-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
    margin-top: 0px;
    overflow-wrap: anywhere;
}
.card-description.expanded {
  -webkit-line-clamp: unset;
}

.milieu .one-post-block .post-content .categorie-post {
    margin: 20px 0px;
}
.milieu .one-post-block .post-content .categorie-post span {
    background-color: var(--black-1e252b);

    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
}
.milieu .one-post-block .post-content .content-poster-like {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;    
}
.milieu .one-post-block .post-content .content-poster-like .content-poster{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.milieu .one-post-block .post-content .content-poster-like .content-poster .poster{
    width: 200px;
    display: flex;
}
.milieu .one-post-block .post-content .content-poster-like .content-poster .poster img{
    height: 50px;
    border-radius: 100px;
}
.milieu .one-post-block .post-content .content-poster-like .content-poster .poster div{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}
.milieu .one-post-block .post-content .content-poster-like .content-poster .poster div p:first-of-type {
    display: flex;
    align-items: center;
}
.milieu .one-post-block .post-content .content-poster-like .content-poster .poster div p:first-of-type {
   font-weight: bold;
}
.milieu .one-post-block .post-content .content-poster-like .content-poster .poster div p:first-of-type img{
   height: 15px;
   width: 15px;
   margin-left: 5px;

} 

.milieu .one-post-block .post-content .content-poster-like .content-poster .like-comment-block{
   display: flex;
   justify-content: space-between;
   width: 50%;
}
.milieu .one-post-block .post-content .content-poster-like .content-poster .like-comment-block div {
    cursor: pointer;
}

/* menu-droite */

.menu-droite h2 {
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: var(--whiteffffff);
    
}
.menu-droite .bloc{
    height: 300px;
    padding-right: 10px;
    border-bottom: 1px solid var(--whiteffffff);
    /* border: 2px solid rebeccapurple; */
    box-sizing: border-box;
    /* overflow: hidden; */
    overflow-y: scroll;
}

.bloc::-webkit-scrollbar {
    width: 2px;
    height:2px;
  }
  .bloc::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  .bloc::-webkit-scrollbar-thumb {
    background: var(--whiteffffff);
    border: 0px none var(--black-1e252b);
    border-radius: 50px;
  }
  .bloc::-webkit-scrollbar-thumb:hover {
    background:var(--black-1e252b);
  }
  .bloc::-webkit-scrollbar-thumb:active {
    background: var(--black-1e252b);
  }
  .bloc::-webkit-scrollbar-track {
    background: var(--black-1e252b);
    border: 0px none var(--black-1e252b);
  }
  .bloc::-webkit-scrollbar-track:hover {
    background: var(--black-1e252b);
  }
  .bloc::-webkit-scrollbar-track:active {
    background: var(--black-1e252b);
  }
  .bloc::-webkit-scrollbar-corner {
    background: var(--black-1e252b);
  }
.menu-droite .user{
   
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
  color: var(--whiteffffff);
  font-weight: bold;
  font-size: 22px;
  text-transform: capitalize;
  
}
.menu-droite .user .user-infos{
    display: flex;
}
.menu-droite .user .user-infos img{
        height: 40px;
}

.menu-droite .user .user-infos div p{
   display: flex;
   align-items: center;
}
.menu-droite .user .user-infos div p span{
    margin-right: 5px;
}

.menu-droite .user .chat-text{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.menu-droite .user .chat-text span{
  margin-right: 5px;
}

