@import 'auth.css';
@import 'header.css';
@import 'modal.css';
@import 'spinner.css';
@import 'page404.css';
@import 'loader.css';
:root{
    --black-1e252b:#1e252b;
    --back262d34:#262d34;
    --black2c353d:#2c353d;
    --pinkf9dfc0:#f9dfc0;
    --orangeff6934:#ff6934;
    --whiteffffff:#ffffff;
    --red60: #C90054;
    --rgb1:rgb(218 51 3);
}
*{
    font-family: Source Sans Pro, 'Source Sans Pro';
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--black-1e252b);
     overflow: hidden;
}

.corps{
  position: relative;
  height: 100vh;
  display: flex;
  margin: 10px 20px;
    
}
.corps .menu-gauche{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 90%;
    background-color: #2c353d;
    border-radius: 10px;
    box-sizing: border-box;
    
}

.corps .milieu{
    width: 100%;
    margin: 0px 30px;
    border-radius: 10px;
    box-sizing: border-box;
    
}

.corps .menu-droite{
    width: 30%;
    height: 90%;
    background-color: #2c353d;
    border-radius: 10px;
    box-sizing: border-box;
}

.corps .menu-gauche div{
    display: flex;
    justify-content: center;
   width: 60%;
   padding: 10px 0px;
   color: var(--whiteffffff);
   background-color: var(--black-1e252b);
   font-size: 22px;
   text-align: center;
   margin-bottom: 20px;
   text-transform: capitalize;
   border-radius: 10px;
   cursor: pointer;
}
.corps .menu-gauche div:first-of-type{
    display: flex;
    align-items: center;
    background: transparent;
    margin-top: 30px;
    font-size: 28px;
    cursor:default;
}
.corps .milieu .create-post-menue{
    z-index: 10;
    display: flex;
    align-items: center;
    height: 80px;
    border-radius: 10px;
    background-color: var(--black2c353d);
}

.corps .milieu .create-post-menue{
   display: flex;
   justify-content: space-between;
   padding: 0px 20px;
}
.corps .milieu .create-post-menue span{
    display: flex;
    align-items: center;
}
.corps .milieu .create-post-menue span span{
    margin-left: 10px;
    font-size: 20px;
    color: var(--whiteffffff);
}
.corps .milieu .create-post-menue button{
    padding: 15px 20px;
    font-size: 20px;
    color: var(--whiteffffff);
    background: var(--orangeff6934);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--orangeff6934);
}

/* post */
 .corps .milieu .content-post-block{
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh; 
  padding-bottom: 400px;
}


.corps .milieu .content-post-block::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
  .corps .milieu .content-post-block::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  .corps .milieu  .content-post-block::-webkit-scrollbar-thumb {
    background: var(--back262d34);
    border: 0px none var(--black-1e252b);
    border-radius: 50px;
  }
  .corps .milieu  .content-post-block::-webkit-scrollbar-thumb:hover {
    background:var(--black-1e252b);
  }
  .corps .milieu  .content-post-block::-webkit-scrollbar-thumb:active {
    background: var(--black-1e252b);
  }
  .corps .milieu  .content-post-block::-webkit-scrollbar-track {
    background: var(--black-1e252b);
    border: 0px none var(--black-1e252b);
  }
  .corps .milieu  .content-post-block::-webkit-scrollbar-track:hover {
    background: var(--black-1e252b);
  }
  .corps .milieu  .content-post-block::-webkit-scrollbar-track:active {
    background: var(--black-1e252b);
  }
  .corps .milieu .content-post-block::-webkit-scrollbar-corner {
    background: var(--black-1e252b);
  }
.milieu .one-post-block{
    display: grid;
    grid-template-columns: repeat(2,auto);
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    background-color:var(--black2c353d) ;
    margin-top: 25px;
    padding: 25px;
    border-radius: 10px;
    z-index: -1;
}

.milieu .one-post-block .image-post{
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin-right: 25px;
    box-sizing: border-box;
}
.milieu .one-post-block .image-post img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.milieu .one-post-block .post-content{
   width: 100%;
   height: 80%;
   margin-top: 25px;
   margin-right: 20px; 
   color: var(--whiteffffff);
   overflow: hidden;
   
}
.milieu pre{
  overflow-x: scroll;
  
}

.milieu .post-text {
  margin-top: 20px;
  font-size: 18px;
    transition: max-height 0.7s;
}
.myBtn{
  margin-top: 5px ;
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--orangeff6934);
  color: var(--whiteffffff);
  border: none;
}


.card-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
    margin-top: 0px;
    overflow-wrap: anywhere;
}
.card-description.expanded {
  -webkit-line-clamp: unset;
}

.milieu .one-post-block .post-content .categorie-post {
    margin: 20px 0px;
}
.milieu .one-post-block .post-content .categorie-post span {
    background-color: var(--black-1e252b);

    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
}
.milieu .one-post-block .post-content .content-poster-like,
.content-comment-like {
    display: flex;
    align-items: self-start;
    width: 100%;
    height: 150px;    
}
.content-comment-like {
  height: 100px;    
}
.milieu .one-post-block .post-content .content-poster-like .content-poster,
.content-comment{
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    height: fit-content;
}

.milieu .one-post-block .post-content .content-poster-like .content-poster .poster,
.comment{
    width: 300px;
    display: flex;
    align-items: center;
} 

.milieu .one-post-block .post-content .content-poster-like .content-poster .poster img,
.comment img{
    height: 40px;
    border-radius: 100px;
}
.milieu .one-post-block .post-content .content-poster-like .content-poster .poster div,
.comment div{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
  
}
.milieu .one-post-block .post-content .content-poster-like .content-poster .poster div p:first-of-type
.comment div p:first-of-type {
    display: flex;
    align-items: center;
    font-weight: bold;
}
.milieu .one-post-block .post-content .content-poster-like .content-poster .poster div p:first-of-type {
   font-weight: bold;
}
.milieu .one-post-block .post-content .content-poster-like .content-poster .poster div p:first-of-type img{
   height: 15px;
   width: 15px;
   margin-left: 5px;

} 

.milieu .one-post-block .post-content .content-poster-like .content-poster .like-comment-block{
  padding: 0px; 
  display: flex;
   align-items: center;
   justify-content: flex-end;
   flex-wrap: wrap;
   margin-right: 0px;
   width: 100%;
}
.milieu .one-post-block .post-content .content-poster-like .content-poster .like-comment-block div {
    cursor: pointer;
    width: fit-content;
    margin-left: 15px;
}

.milieu .create-comment{
  width: 100%;
  box-sizing: border-box;
  position: relative;
  bottom: 0px;
}
.milieu .create-comment form{
  width: 100%;
  display: flex;
 
}
.milieu .create-comment form button{
  border: none;
  cursor: pointer;
  width: 80px;
}
.milieu .create-comment textarea{
  width: 100%;
  height: 50px;
  outline: none;
  resize: none;
  padding: 10px;
  padding-right: 0px;
  font-size: 18px;
  background: transparent;
  color: var(--whiteffffff);
  border: none;
  border-bottom: 2px solid var(--whiteffffff);
}
.bloc-comment{
color: var(--whiteffffff);
  height: fit-content;
  padding: 10px;
  
}
.commentCount{
  margin-right: 5px;
}

.bloc-comment .comment-text{
  padding-left: 10px;
  margin-top: 20px;
  font-size: 18px;
  transition: max-height 0.7s;
}
.like-comment-block{
  display: flex;
  justify-content: space-between;
  width: fit-content;

}

.like-comment-block div:first-of-type{
  margin-right: 10px;
}
.bloc-comment .like-comment-block div{
  cursor: pointer;
}







.milieu pre::-webkit-scrollbar{
  width: 1px;
  height: 4px;
}

.milieu pre::-webkit-scrollbar-thumb {
  background: var(--back262d34);
  border: 0px none var(--black-1e252b);
  border-radius: 50px;
}

#err{
  padding-top: 200px;
  text-align: center;
  color: white;
}



/* like dislike */

.like-post-color{
   color: darkgoldenrod;
}

.dislike-post-color{
  color: rgb(143, 138, 138);
}




.hide-excess-lines {
  max-height: 4.5em; /* Adjust this value to fit your line height */
  overflow: hidden;
}



/* menu-droite */
.menu-droite{
  position: relative;
}

.menu-droite h2 {
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: var(--whiteffffff);
    
}
.menu-droite .bloc{
    height: 500px;
    padding-right: 10px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.bloc::-webkit-scrollbar {
    width: 2px;
    height:2px;
  }
  .bloc::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  .bloc::-webkit-scrollbar-thumb {
    background: var(--whiteffffff);
    border: 0px none var(--black-1e252b);
    border-radius: 50px;
  }
  .bloc::-webkit-scrollbar-thumb:hover {
    background:var(--black-1e252b);
  }
  .bloc::-webkit-scrollbar-thumb:active {
    background: var(--black-1e252b);
  }
  .bloc::-webkit-scrollbar-track {
    background: var(--black-1e252b);
    border: 0px none var(--black-1e252b);
  }
  .bloc::-webkit-scrollbar-track:hover {
    background: var(--black-1e252b);
  }
  .bloc::-webkit-scrollbar-track:active {
    background: var(--black-1e252b);
  }
  .bloc::-webkit-scrollbar-corner {
    background: var(--black-1e252b);
  }
.menu-droite .user{   
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
  color: var(--whiteffffff);
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
  
}
.no-user{
  font-size: 16px;
  color: rgb(204, 84, 84);
  text-align: center;
  text-transform: capitalize;
}
.menu-droite .user .user-infos{
    display: flex;
}
.menu-droite .user .user-infos img{
   height: 40px;
}

.notification{
  display: flex;
}

.menu-droite .user .user-infos div p{
   display: flex;
   align-items: center;
}
.menu-droite .user .user-infos div p span{
    margin-right: 5px;
}

.menu-droite .user .chat-text{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.menu-droite .user .chat-text span{
  margin-right: 5px;
}

.menu-droite .chat-container{
  display: none;
  position: absolute;
  bottom: 100px;
  width: 140%;
  height: 450px;
  box-sizing: border-box;
  margin-left: -40%;
  background-color:#3d464e; 
   border-radius: 20px ;
   overflow-y: none;
}

.chat-container .btn-group-chat{
  position: absolute;
  bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
}
.chat-container .btn-group-chat textarea{
  resize: none;
  outline: none;
  border: none;
  background: transparent;
  width: 85%;
  height: 100%;
  padding: 5px;
  background-color: var(--whiteffffff);
}
.menu-droite .chat-container .btn-group-chat button{
  width: 15%;
  height: 100%;
  border: none;
  background-color: var(--back262d34);
  background-image: url("../assets/send-alt-1-svgrepo-com.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;

}




.menu-droite .chat-header{
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 10px;
  top: 50px;
}
.midle-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.midle-header div:first-of-type{
  position: absolute;
  top: -50px;
  width: 100px;
  height: 100px;
  background-image: url("../assets/user-profile-svgrepo-com.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--whiteffffff);
  border-radius: 50px;
}
.midle-header div:last-of-type{
  position: relative;
  top: 60px;
  color: var(--whiteffffff);
  font-size: 20px;
}
 .right-header img{
 cursor: pointer;
}


.chat-body{
  margin-top: 50px;
  width: 100%;
  height: 300px;
  border-top: 2px dotted var(--whiteffffff);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.chat-body div{
  width: 100%;
  height: fit-content;
  margin-bottom: 5px;
}
.sender-bloc{
  width: 100%;
  display: flex;
  text-align: end;
  align-items: center;
}
.sender-bloc .user-sender-bloc{
  width: fit-content;
  margin-right: 8px;
}
.sender-bloc .user-sender-bloc img,
.receiver-bloc .user-receiver-bloc img{
  width: 40px;
  height: 40px;
  background-color: var(--whiteffffff);
  border-radius: 40px;
}
.receiver-bloc .user-receiver-bloc img{
  background-color: var(--back262d34);
}
.sender-bloc .user-sender-bloc p,
.receiver-bloc .user-receiver-bloc p{
 color: var(--whiteffffff);
 text-transform: capitalize;
 font-size: small;
}
.receiver-bloc{
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
 
}
.receiver-bloc .user-receiver-bloc{
  width: fit-content;
  margin-left: 8px;
}


.sender-bloc .message-date,
.receiver-bloc .message-date-2{
  width: 50%;
  flex: 1 1 auto;
  color: white;
}
.message-date{
  text-align: end;
}
.message-date-2{
    display: flex;
    align-items: end;
    flex-direction: column;
    
}


.sender-bloc .message-date p:first-of-type{
  width: 60%;
  padding: 15px 10px;
  margin-bottom: 3px;
  word-wrap: break-word;
  white-space: pre-wrap;
  text-align: left;
  background-color: var(--back262d34);
  -webkit-border-radius: 20px 20px 20px 0;
  -moz-border-radius: 20px 20px 20px 0;
  border-radius: 20px 20px 20px 0; 
}
.sender-bloc .message-date p:last-of-type,
.receiver-bloc .message-date-2 p:last-of-type{
  font-size: small;
}
.sender-bloc .message-date p:last-of-type{
  width: 60%;
}
.receiver-bloc .message-date-2 p:first-of-type{
  width: 60% ;
  padding: 15px 10px;
  margin-bottom: 3px;
  background-color: var(--back262d34);
  -webkit-border-radius: 20px 20px 0 20px;
  -moz-border-radius: 20px 20px 0 20px;
  border-radius: 20px 20px 0 20px;
 
}
.no-chat{
  color: var(--whiteffffff);
  text-align: center;
}

.chat-body::-webkit-scrollbar {
  width: 0px;
  height:0px;
}

.temp-class{
  display: flex;
  justify-content: center;
}
/* Medias query */
@media screen and (min-width:1024px)  and (max-width:1500px) {
  .milieu .one-post-block .image-post{
    width: 230px;
    height: 230px;
  }
  .milieu .one-post-block .image-post img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }

  .milieu .one-post-block .post-content .content-poster-like .content-poster{
    width: 100%;
    height: fit-content;
    padding-bottom: 50px;
  } 
  .milieu .one-post-block .post-content .content-poster-like .content-poster div{
     margin-left: 5px;
  }
  .milieu .one-post-block .post-content .content-poster-like .content-poster .like-comment-block{
     width: 100%;
  }
  .milieu .one-post-block .post-content .content-poster-like .content-poster .like-comment-block div {
    margin-left: 5px;
}
}


@media screen and (min-width:768px)  and (max-width:1150px) {
  .milieu .one-post-block{
    display: grid;
    grid-template-columns: repeat(1,auto);
    height: fit-content;
    justify-items: center;
  }
  .milieu .one-post-block .image-post{
    width: 100%;
    padding: auto 10%;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-right: 0px;
  }
  .milieu .one-post-block .image-post img{
    border-radius: 20px;
    width: 75%;
    height: 75%;
  }
  
  .milieu .one-post-block .post-content{
    width: 100%;
    height: fit-content;
    padding-top: 10px;
  }
  .milieu .one-post-block .post-content .content-poster-like .content-poster .like-comment-block{
    display: flex;
     justify-content: flex-end;
     align-items: start;
     box-sizing: border-box;
     width: 100%;
     height: fit-content;
  }
  .milieu .one-post-block .post-content .content-poster-like .content-poster .like-comment-block div{
    margin-left: 10px;
  }
}
@media screen and (min-width:768px)  and (max-width:900px) {
  .milieu .one-post-block .image-post img{
    border-radius: 20px;
    width: 95%;
    height: 95%;
  }
}
@media screen and (min-width:768px)  and (max-width:850px) {

  .milieu .one-post-block .post-content .content-poster-like .content-poster .like-comment-block{
    display: flex;
     justify-content:space-between;
     width: 100%;
  }
  .milieu .one-post-block .post-content .content-poster-like .content-poster{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
}
.milieu .one-post-block .post-content .content-poster-like .content-poster .like-comment-block{
  margin-bottom: 10px;
}
}
@media screen and (max-width:768px) {
  body{
    overflow-y: scroll;
  }
  .corps{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
    margin-top: 140px;
    padding: 0px 40px;
  }

  .corps .menu-gauche{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height:auto;
    padding: 20px ;
    margin: 30px 0px;
    background-color: #2c353d;
    border-radius: 10px;
    box-sizing: border-box;
    order: 2;
    overflow-x: scroll;
    
}
.corps .menu-gauche div:first-of-type{ 
     display: none;
}
.corps .menu-gauche div {
    margin-right: 10px;
    margin-bottom: 0px;
    width: fit-content;
    padding: 10px ;
} 
.corps .menu-gauche div:last-of-type {
  margin-right: 0px;
}

.corps .milieu{
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    order: 3;
}

.corps .menu-droite{
    width: 100%;
    height: fit-content;
    background-color: #2c353d;
    border-radius: 10px;
    box-sizing: border-box;
    order: 1;
}

.corps .milieu .content-post-block{
 
  overflow: hidden; 
  height: fit-content; 
  margin-bottom: 0px;
}
/* .last-post{
  margin-bottom: 40px;

} */

.menu-droite .bloc{
  width: 100%;
  height: fit-content;
  padding: 10px;
  display: flex; 
  flex-direction: row;
  box-sizing: border-box;
  overflow-x: scroll;
}
.menu-droite .bloc .user{
   margin-right: 20px;
}
.menu-droite .user{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.milieu .one-post-block{
  display: grid;
  grid-template-columns: repeat(1,auto);
  height: fit-content;
  justify-items: center;
}
.milieu .one-post-block .image-post{
  width: 100%;
  padding: auto 10%;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin-right: 0px;
}
.milieu .one-post-block .image-post img{
  border-radius: 20px;
  width: 50%;
  height: 50%;
}

.milieu .one-post-block .post-content{
  width: 92%;
  height: fit-content;
  padding-top: 10px;
}

.milieu .one-post-block .post-content .content-poster-like .content-poster{
  flex-direction: row;
  align-items: baseline;
  height: fit-content;
  padding-bottom: 0px;
}
 

.milieu .one-post-block .post-content .content-poster-like{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}
.milieu .one-post-block .post-content .content-poster-like .content-poster .like-comment-block{
  display: flex;
   align-items: flex-start;
   justify-content: flex-end;
   box-sizing: border-box;
   width: fit-content;
   height: fit-content;
}
.milieu .one-post-block .post-content .content-poster-like .content-poster .like-comment-block div{
  margin-left: 20px;
}


/* chat conatiner */
.menu-droite .chat-container{
  width: 70%;
  position: fixed;
  top: 300px;
  margin-left: 10%;
}

}


@media screen and (max-width:500px) {
  .corps{
    padding: 0px 20px;
    margin-top: 180px;
  }
  
  .milieu .one-post-block .image-post{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-right: 0px;
  }
  .milieu .one-post-block .image-post img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }

  .milieu .one-post-block .post-content .content-poster-like .content-poster{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
   padding-top: 10px;
}
  .milieu .one-post-block .post-content .content-poster-like {
    height: fit-content;
  }
  .milieu .one-post-block .post-content .content-poster-like .content-poster{
    margin-top: 0px;
    height: fit-content;
  }
  .milieu .one-post-block .post-content .content-poster-like{
    height: fit-content;
  }
  .milieu .one-post-block .post-content .content-poster-like .content-poster .like-comment-block{
    margin-bottom: 20px;
  }
  .milieu .one-post-block .post-content .content-poster-like .content-poster .like-comment-block{
   justify-content: space-between;
     width: 100%;
  }
  .milieu .one-post-block .post-content .content-poster-like .content-poster .like-comment-block div{
    margin-left: 0px;
  }

  /* chat conatiner */
.menu-droite .chat-container{
  width: 80%;
  position: fixed;
  top: 210px;
  margin-left: 5%;
}
}